body{
    margin:0
}
header{
    background:#03a9f4;
    text-align: center;
    
}
.logo{
    font-size: 20px;
    font-family: Anton;
    margin: 20px 0px;
}

header input{
    font-size: 20px;
    margin: 20px 0px;
}